<div
  class="bg-white rounded-xl border-2 border-black shadow-3xl p-8 m-8 text-center"
>
  <h1 class="text-xl font-bold mb-2">Your IP</h1>
  <p class="font-semibold">
    IP: <span id="ip"></span>
    <br />
    CITY: <span id="city"></span>
    <br />
    COUNTRY: <span id="country"></span>
    <br />
    ISP: <span id="isp"></span>
  </p>
</div>

<script>
  fetch("https://ipapi.co/json/")
    .then((response) => response.json())
    .then((data) => {
      document.getElementById("ip").textContent = data.ip;
      document.getElementById("city").textContent = data.city;
      document.getElementById("country").textContent = data.country_name;
      document.getElementById("isp").textContent = data.org;
    });
</script>

